<div id="blurry-filter"></div>
<header>
    <div>
        <article id="title"><span class="parent">High School</span><br /><span class="name">Books & Books</span></article>
        
    </div>
</header>

<section id="folders">
    <article>Our achievements</article>
    <article>Our history</article>
    <article>Contact Us</article>
</section>

<main>
    <div class="card">
        <img src="https://images.unsplash.com/photo-1593414220166-085caeae0382?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=751&amp;q=80"
            alt="Avatar" 
            style="width:100%; border-top-left-radius: 1rem; border-top-right-radius: 1rem ">
        <div class="card-body">
            <div class="card-title"><h4><b>2020 Prom Party</b></h4> </div>
            <div class="card-text"><p>Description about 2020 Prom Party.</p>
                <p>More description.</p> 
            </div>
        </div>
    </div>
    
    <div class="card">
        <img src="https://images.unsplash.com/photo-1593414220166-085caeae0382?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=751&amp;q=80"
            alt="Avatar" 
            style="width:100%; border-top-left-radius: 1rem; border-top-right-radius: 1rem ">
        <div class="card-body">
            <div class="card-title"><h4><b>2019 Prom Party</b></h4> </div>
            <div class="card-text"><p>Description about 2019 Prom Party.</p>
                <p>More description.</p> 
            </div>
        </div>
    </div>

    <div class="card">
        <img src="https://images.unsplash.com/photo-1593414220166-085caeae0382?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=751&amp;q=80"
            alt="Avatar" 
            style="width:100%; border-top-left-radius: 1rem; border-top-right-radius: 1rem ">
        <div class="card-body">
            <div class="card-title"><h4><b>2019 Prom Party</b></h4> </div>
            <div class="card-text"><p>Description about 2018 Prom Party.</p>
                <p>More description.</p> 
            </div>
        </div>
    </div>
</main>

